BINANCE_TESTNET_HTTP_URL=https://testnet.binancefuture.com
BINANCE_TESTNET_WS_URL=wss://fstream.binancefuture.com
BINANCE_API_KEY=your_testnet_api_key_here
BINANCE_API_SECRET=your_testnet_api_secret_here
